@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
.container-theme, html body .header .container, html body .body .session .container {
  margin: auto;
  width: 100%;
  box-sizing: border-box;
  max-width: 1280px;
  padding: 40px; }

.debug, html body .body .session .container, html body .banner .banner-info {
  border: red solid 1px;
  width: 100%; }

html {
  width: 100%; }
  html .mobile-screen {
    display: none; }
  html .pc-screen {
    display: unset; }
  @media (max-width: 950px) {
    html .mobile-screen {
      display: unset; }
    html .pc-screen {
      display: none; } }
  html body {
    font-family: "Roboto";
    color: #1A6472;
    padding: 0;
    margin: 0;
    width: 100%; }
    html body .header {
      color: white;
      position: absolute;
      height: 60px;
      display: block;
      z-index: 1000;
      width: 100%; }
      html body .header .container {
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex; }
        html body .header .container div {
          margin: auto; }
        html body .header .container .logo {
          margin-right: 10px;
          margin-left: 0; }
        html body .header .container .slogan {
          margin-left: 10px;
          font-size: 1.25rem; }
        html body .header .container .top-menu {
          margin-right: 0;
          float: right;
          font-size: 1.25rem; }
          html body .header .container .top-menu ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden; }
            html body .header .container .top-menu ul li {
              float: left;
              padding: 0; }
              html body .header .container .top-menu ul li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 10px;
                text-decoration: none; }
                html body .header .container .top-menu ul li a:hover {
                  text-underline: white; }
          html body .header .container .top-menu .topnav {
            overflow: hidden;
            position: relative; }
            html body .header .container .top-menu .topnav #topnav {
              display: none;
              width: 200px;
              background-color: #1A6472;
              position: absolute;
              transform: translate(-100%, 0); }
            html body .header .container .top-menu .topnav a {
              color: white;
              padding: 14px 16px;
              text-decoration: none;
              font-size: 17px;
              display: block; }
              html body .header .container .top-menu .topnav a.icon {
                font-size: 2rem;
                display: block; }
              html body .header .container .top-menu .topnav a:hover {
                background-color: #ddd;
                color: black; }
              html body .header .container .top-menu .topnav a.active {
                background-color: #1A6472;
                color: white; }
    html body .programs {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap; }
      html body .programs .program-card {
        padding: 20px 10px 10px 10px;
        min-width: 180px;
        margin: 8px;
        text-align: center;
        background-color: white;
        border-radius: 16px;
        flex: 1 1 0;
        -webkit-flex: 1 1 0;
        color: #1A6472; }
        html body .programs .program-card p span {
          display: block; }
          html body .programs .program-card p span:before {
            content: '● '; }
    html body .body {
      width: 100%; }
      html body .body .text-center {
        text-align: center; }
      html body .body .text-right {
        text-align: right; }
      html body .body .text-light {
        font-weight: 100; }
      html body .body .text-large {
        font-size: 1.4rem; }
      html body .body h1 {
        font-size: 3rem; }
      html body .body h2 {
        font-size: 2.4rem;
        font-weight: 300; }
      html body .body h3 {
        font-size: 2rem; }
      html body .body h4 {
        font-size: 1.5rem; }
      html body .body .background-primary {
        background-color: #1A6472;
        color: white; }
      html body .body .session {
        position: relative;
        width: 100%;
        height: auto;
        overflow-x: hidden; }
        html body .body .session .container .session-name {
          text-align: inherit;
          font-size: 2rem; }
          html body .body .session .container .session-name span:last-child {
            color: #F36F42; }
        html body .body .session .container .about {
          text-align: justify;
          width: 110%; }
        @media (max-width: 950px) {
          html body .body .session .container .about {
            width: 100%; } }
        html body .body .session .container .session-name-invert {
          text-align: inherit; }
          html body .body .session .container .session-name-invert span:first-child {
            color: #F36F42; }
        html body .body .session .container .cols {
          display: flex;
          flex-direction: row; }
          html body .body .session .container .cols .col {
            width: 50%;
            min-width: 360px;
            position: relative; }
            html body .body .session .container .cols .col.feature-image div {
              position: relative;
              display: block;
              height: 100%;
              width: 100%; }
              html body .body .session .container .cols .col.feature-image div img {
                position: absolute;
                bottom: 0;
                width: 100%; }
        @media (max-width: 950px) {
          html body .body .session .container .cols {
            display: block;
            flex-direction: unset; }
            html body .body .session .container .cols .col {
              width: 100%; }
              html body .body .session .container .cols .col.feature-image div {
                height: auto; }
                html body .body .session .container .cols .col.feature-image div img {
                  position: relative; } }
    html body .banner {
      overflow: hidden; }
      html body .banner .banner-img {
        position: absolute;
        bottom: 0;
        z-index: 1;
        width: 100%;
        min-width: 1500px;
        height: auto;
        left: 50%;
        transform: translate(-50%, 0); }
      html body .banner .banner-info {
        padding-top: 140px !important;
        padding-bottom: 100px !important;
        margin: 0 !important;
        position: relative;
        color: white;
        z-index: 2;
        left: 50%;
        transform: translate(-50%, 0); }
        html body .banner .banner-info table img {
          width: 100%; }
          html body .banner .banner-info table img.full-logo {
            width: 80%; }
        html body .banner .banner-info img {
          width: 100%; }
        html body .banner .banner-info h2 {
          margin-bottom: 10px; }
        html body .banner .banner-info .pc-screen img.full-logo {
          width: 80%; }

/*# sourceMappingURL=style.css.map */
